NODE_ENV=
DATABASE_URL=postgresql://rovely_user:password@db:5432/rovely?schema=public # copypaste in dev
PORT=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
RESEND_API_KEY=
BOT_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIS_URL=redis://redis:6379 # copypaste in dev