@import '@fontsource/exo-2/900.css';
@import '@fontsource-variable/chiron-goround-tc/wght.css';

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Chiron GoRound TC Variable", sans-serif;
  --font-logo: "Exo 2", sans-serif;
  --animate-shimmer: shimmer ease-in-out infinite
}

@keyframes shimmer {
  0% {
    color: #08eb79;
  }

  50% {
    color: #1a7a42;
  }

  100% {
    color: #08eb79;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 99999s ease-in-out 0s;
}