@import '@fontsource/exo-2/900.css';
@import '@fontsource-variable/chiron-goround-tc/wght.css';

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Chiron GoRound TC Variable", sans-serif;
  --font-logo: "Exo 2", sans-serif;
  --animate-shimmer: shimmer ease-in-out infinite;
  --color-brand: #13d373;
  --color-bg: #090909;
  --color-card: #131313;
  --color-border: #292929;
  --color-text-main: #ffffff;
  --color-text-muted: #ffffff99;
  --color-text-dark: #000000;
  --color-text-warning: #ffdf20;
  --color-text-danger: #ff6467;
  --shadow-glow: 0 0 6px var(--color-brand);
  --shadow-glow-lg: 0 0 15px var(--color-brand);
}

@keyframes shimmer {

  0%,
  100% {
    color: color-mix(var(--color-brand) 80%, white);
  }

  50% {
    color: color-mix(var(--color-brand) 80%, black);
  }
}

@utility text-hint {
  @apply text-sm text-text-muted
}

*:focus-visible {
  outline: none;
}

body {
  color: var(--color-text-main);
  background-color: var(--color-bg);
}

form {
  display: flex;
  flex-direction: column;
}

.bg-grid {
  background-image:
    linear-gradient(var(--color-brand) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-brand) 1px, transparent 1px);
  background-size: 48px 48px;
}

::placeholder {
  color: #ffffff66;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 99999s ease-in-out 0s;
}